/**
* Default Style
* ===============================================================
*
* Defining the __codedoc__ stylesheets. This is done using [stylus](http://stylus-lang.com/)
* and precompiled into a compressed css syntax.
*/

// import nib snap-in for more browser compatibility
@import 'nib'

// Variable setup
$topnav-height = 51px
$color-orange = #f0ad4e
$color-blue = #337ab7
$min-width = 300px


/*
* Page Layout
* --------------------------------------------------------------
*/
#topnav
  .navbar-nav
    margin-top: 8px;
.navbar
  min-width: $min-width
.nav>li
  padding: 2px 12px;
.navbar-inverse
  .navbar-nav>li>a
    color: black;
    font-weight: bold;
.navbar-spacer
  height: $topnav-height;
.btn-warning
.btn-primary
  click-shrink()
.btn-warning
  gradient: $color-orange;
.btn-primary
  gradient: $color-blue;
.navbar-inverse .navbar-nav>li>a
  &:focus
  &:hover
    gradient: lighten($color-blue, 15);
.navbar-inverse .navbar-nav>li>a.btn-warning
  &:focus
  &:hover
    gradient: darken($color-orange, 15);

.sidebar .nav
  list-style: disc;
  padding-left: 30px;
  &>li
    display: list-item;
    &>a
      color: black;
      click-shadow()
      &:hover
        gradient: $color-blue
        color: white;
    &.header
    &.active
      display: none
    &.active>a
      gradient: lighten($color-blue, 15);
      &:hover
        gradient: $color-blue;
        color: white;
    &.header>a
      font-weight: bold;
      gradient: $color-orange;
      &:hover
        gradient: darken($color-orange, 15);
        color: white;
    &.level1>a
      padding-left: 20px;
    &.level2>a
      padding-left: 25px;
    &.level3>a
    &.level4>a
    &.level5>a
      padding-left: 30px;

@media (min-width: 768px)
  #topnav
    .nav>li
      padding: 0 4px;
  .navbar-right
    margin-right: 0px;
  .navbar-nav
    >li>a
      padding: 6px 10px;
  .sidebar
    overflow: auto;
    position: fixed;
    top: $topnav-height;
    left: 0;
    bottom: 0;
    background: #ddd;
    padding: 0;
    h1, h2
      display: none;
    .nav
      list-style: none;
      padding-left: 0;
      &>li
        padding: 0;
        &.header
        &.active
          display: block

img.preload
  display: none;

/*
* Format for Tags
* --------------------------------------------------------------
*/

body
  font-family: "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.2;
  hyphenation()
  min-width: $min-width;

// headings
h1, h2, h3, h4, h5, h6
  font-weight: bold
  &:before /* move anchor pint up */
    display: block;
    content: " ";
    margin-top: -66px;
    height: 66px;
    visibility: hidden;
h1
  border-bottom: 3px solid black;
  padding-bottom: 5px;
h2
  border-bottom: 2px dotted black;
  padding-bottom: 3px;
h3
  border-bottom: 2px dotted gray;
  padding-bottom: 2px;
h4
  border-bottom: 1px dotted gray;

dt
  font-weight: bold;
  margin-top: 8px;
dd
  margin-left: 20px;

blockquote
  border: 1px solid #eee;
  border-radius: 3px;
  border-left: 5px solid $color-blue;
  padding: 5px 15px;
  margin: 10px 0

/*
* Table Layout
* --------------------------------------------------------------
*/
table
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
  th, td
    padding: 6px 13px;
    border: 1px solid #ddd;
  th
    background-color: rgba(0, 0, 0, 0.04);
    font-weight: bold;
    border-bottom: 3px solid #999;
  tr
    background-color: #fff;
    border-top: 1px solid #ccc;
    &:nth-child(2n)
      background-color: rgba(0, 0, 0, 0.04);

img
  vertical-align: middle;

.emoji
  height: 1em;

abbr
acronym
  border-bottom: dotted 1px;

/*
* Text Block and Code
* --------------------------------------------------------------
*/
code, tt
  background-color: #fafafa;
  border-radius: 4px;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0;
pre
  background-color: #fafafa;
  border-radius: 10px;
  border: 1px solid #a4a4a4;
  font-size: 85%;
  margin: 20px;
  padding: 10px;
  code, tt
    background: none;
  &.language
    counter-reset: line;
    max-height: 265px
    padding-top: 30px
    padding-bottom: 0;
    overflow-x: hidden;
    code, tt
      display: block;
      position: relative;
      float: left;
      width: 100%
      border-left: 45px solid #ddd;
      margin-left: -10px;
      padding-left: 5px;
      &:before
        counter-increment: line;
        content: counter(line);
        min-width: 35px;
        float: left;
        text-align: right;
        padding-right: 5px;
        color: grey;
        no-select();
        -webkit-user-select: none;
        margin-left: -45px;
      &:first-of-type
        padding-top: 10px
      &:last-child
        padding-bottom: 10px
    header
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      font-weight: bold;
      background: #fafafa;
      margin: -30px -10px 0 -10px;
      padding: 5px 15px;
    &.coffeescript, &.javascript
    &.ruby, &.python, &.perl
    &.cc, &.cpp, &.cs
    &.java, &.jsp, &.groovy
    &.php
    &.bash
    &.sql
    &.makefile
      header
        background: #f0ad4e
    &.json, &.cson
    &.yaml
      header
        background: #61b961;
    &.handlebars
    &.css, &.stylus, &.scss, &.less
    &.markdown
      header
        background: #76abca;

/*
* Table of Contents
* --------------------------------------------------------------
*/
ul.table-of-contents
  max-width: 100px
  max-height: 30px
  overflow: hidden
  position: fixed
  top: $topnav-height
  right: 0px;
  background: #ddd;
  padding: 5px 15px;
  transition: max-width 100ms ease 1.2s, max-height 1s ease 200ms
  border-left: 2px solid #999
  border-bottom: 2px solid #999
  border-bottom-left-radius: 10px;
  list-style-type: none
  white-space: nowrap
  &:hover
    max-width: 285px
    max-height: 248px
    transition: max-width 100ms ease, max-height 1s ease 100ms
    overflow-y: auto;
  header
    background: #999
    font-weight: bold
    margin: -5px -15px
    padding: 5px 15px
  &>li
    padding-bottom: 2px
    padding-right: 8px
    &:first-of-type
      padding-top: 10px
  a
    color: black
  li.sidebar
    display: list-item;
@media (min-width: 768px)
  ul.table-of-contents
    li.sidebar
      display: none;

/*
* Box Highlighting
* --------------------------------------------------------------
*/
div
  &.detail
  &.info
  &.warning
  &.alert
    padding: 30px 10px 6px 10px;
    margin: 5px 0 8px 0;
    border-radius: 3px
    &>p
      margin-bottom: 0;
    header
      font-weight: bold;
      position: absolute;
      margin-top: -30px;
      margin-left: -10px;
      padding: 3px 20px 3px 10px;
      border-bottom-right-radius: 18px;
div.detail
  background-color: #fafafa;
  border: 2px solid #ddd;
  padding-top: 0;
div.info
  background-color: #99ff99;
  border: 2px solid #66dd66;
  header
    background-color: #66dd66;
div.warning
  background-color: #ffcc99;
  border: 2px solid #ee8866;
  header
    background-color: #ee8866;
div.alert
  background-color: #ff9999;
  border: 2px solid #cc0000;
  header
    background-color: #cc0000;
    color: white;

/*
* Fontawesome, Decorator Styles
* --------------------------------------------------------------
*/
/* Color styles for fontawesome and more */

.text-red {color: red;}
.text-green {color: green;}
.text-yellow {color: yellow;}
.text-blue {color: blue;}
.text-magenta {color: magenta;}
.text-cyan {color: cyan;}
.text-gray {color: gray;}

/* styles for decorate */

.bg-white {background-color: white;}
.center {text-align: center;}
.left {float: left;}
.right {float: right;}
.hide {display: none;}
.spacing {padding: 10px;}

/*
* Search Form
* --------------------------------------------------------------
*/
.cse .gsc-control-cse, .gsc-control-cse
  padding: 0px !important
  table
    tr, th, td
      border: 0
  .gsc-cursor-current-page
    color: white !important
  .gsc-webResult.gsc-result:hover, .gsc-imageResult:hover
    border-left: 5px solid $color-blue;
    padding-left: 3px
  .gcsc-branding
    display: none !important
